@using System.IO
@model AuctionHouse.Models.View.EditAuctionModel

@{
    ViewData["Title"] = "Edit";
}


@section Scripts {
    @{ await Html.RenderPartialAsync ( "_ValidationScriptsPartial" ); }
}


<h1>Edit</h1>

<h4>Auction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <img src="data:image/png;base64,@Model.base64Data" width="100%" class="mb-2" id="imagePreview"/>
                <input asp-for="image" class="form-control" id="image" type="file" style="display: none;"/>
                <span asp-validation-for="image" class="text-danger"></span>
                <button class="btn btn-secondary btn-block" type="button" id="changeImageBtn" onclick="changeDisplay()" width="100%">Zameni sliku</button>
            </div>
            <div class="form-group">
                <label asp-for="startPrice" class="control-label"></label>
                <input asp-for="startPrice" class="form-control" />
                <span asp-validation-for="startPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="openDate" class="control-label"></label>
                <input asp-for="openDate" class="form-control" />
                <span asp-validation-for="openDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="closeDate" class="control-label"></label>
                <input asp-for="closeDate" class="form-control" />
                <span asp-validation-for="closeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

